- content_for :title do
  Sign In · Europeana

.row.session-new
  .col-sm-4
  .col-sm-4.float_to_center
    .panel.panel-default
      .panel-body.login-well
        %h4.text-center
          %span.sign-in-text Sign in to
          %br
          %strong.rumi-datahub-text Europeana
        .col-sm-12.index
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f|
            = f.input :username, autofocus: true, required: true, input_html: {style: "width: 100%;"}
            = f.input :password, as: :password, autocomplete: "off", required: true, input_html: {style: "width: 100%;"}
            = f.button :submit, "Sign in"
    = render "accounts/shared/links"
    %br
    %br