.panel.panel-default.sheet
  .panel-body
    %h4.m0p0 Search Data
    %hr
    .text-center
      = form_tag(search_open_data_path, {:method => :get, style: "margin-top:10px;"}) do
        .form-group
          .col-sm-3
            %select.form-control#content{name: "content"}
              %option{value: "projects"}Projects
              %option{value: "mapfiles"}Map Files
            -geojson_present = (params[:geojson].present? or (params[:geojson].nil? and params[:topojson].nil?))
            -topojson_present = (params[:topojson].present? or (params[:geojson].nil? and params[:topojson].nil?))
            %input.search-genre#geojson{:name => "geojson", :type => "checkbox", :value => "geojson", checked: geojson_present}
              %label.search-genre Geojson
            %input.search-genre#topojson{:name => "topojson", :type => "checkbox", :value => "topojson", checked: topojson_present}
              %label.search-genre Topojson
          .col-sm-6
            =text_field_tag :search, "#{params[:search]}", autofocus: true, placeholder: "Search query",class: "form-control"
          .col-sm-1
            %a.btn.btn-medium.btn-orange#trigger-btn-search{href: "#"}Search
        =submit_tag "Search", id: "search-btn", class: "btn btn btn-orange", style: "display:none;"
    .clearfix
    %br
    %hr{style: "margin-top:10px"}
    - if params[:search].blank?
      .text-center= image_tag "help-search-page.png"
    - else
      .row
        .col-sm-12
          - if params[:content] == "mapfiles"
            = render partial: "core/map_files/index",locales: {core_map_files: @core_map_files}
          -else
            = render partial: "core/data_stores/index", locals: {our_actions: @data_stores}

:javascript
  
  $("#content").val("#{params[:content]}")
  $("#content").change(function() {    
    displayGenre();
  });

  $("#trigger-btn-search").click(function() {    
    $("#search-btn").trigger("click");
    return false;
  });

  displayGenre();
  function displayGenre() {
    $(".search-genre").hide();
    var content = $("#content").val();
    if (content == "mapfiles") $(".search-genre").show();
  }
  var topojson = "#{params[:topojson]}";
  if (topojson) $("#topojson").attr("checked", true);

  var geojson = "#{params[:geojson]}";
  if (geojson) $("#geojson").attr("checked", true);