:css 
  .pyk-lead{font-size: 1.2em;}
  .pyk-ul{font-size: 1.2em; font-weight: 100;}

.container
  %h1
    %center
      %strong Terms of Service (License)
      %br
      %hr
  .col-sm-12
    %p.lead.pyk-lead
      This agreement (hereinafter referred to as ”Agreement”) is made between Pykih Software LLP, India with organisation no. AAB-5145, with registered address 304, Amar Tower, A. D. Road, Juhu, Mumbai 400049, India (hereinafter referred to as “Pykih"), and Licensee (hereinafter referred to as “Licensee”), where,
      %ul.pyk-ul
        %li Pykih is the owner of software products developed and sold by ChartStore.io (hereinafter referred to as "PykCharts.js")
        %li Licensee is an individual or commercial business that wishes to utilise these software products bundled or integrated with their own software products.
    %p.lead.pyk-lead
      %br
      NOW THEREFORE, in consideration of the mutual covenants herein, Pykih and Licensee hereby agree to be legally bound as follows:
      %br
      %br
      - i = 1
      %strong #{i.to_s}. Definitions
      - i = i + 1
      %br
      %br
      %u PykCharts.js:
      PykCharts.js is a Javascript Charting Library. Licensee is given a licensed copy of PykCharts.js that the licensee can use in the specified website.
      %br
      %br
      %u Website / SaaS product:
      One license is for one website or for one SaaS product that is hosted on one domain name (sub-domains included).
      %ul.pyk-ul
        %li A website is a simple website that is not considered a web application.
        %li A SaaS product is a web application (CMS, BI, intranets or products) that has customer specific data or charges for its use.
    %p.lead.pyk-lead
      %u Single-Server v/s Multi-Server Products:
      If your website / SaaS product is hosted on one server, then it is a Single Server product. One server can be defined as one logical server unit e.g. EC2 instance (AWS), one Heroku Web Dyno, one Digital Ocean Droplet, etc.
      %br
      %br
      %u Developer:
      shall mean any person who directly or indirectly develops software for the Licensee. How many developers can code using PykCharts.js / charts from ChartStore.io depends on the plan you purchase. Each plan has different developer licenses built in.
      %br
      %br
      %u Plan:
      You must register a website / SaaS product with ChartStore.io against a plan. You choose a plan based on whether, your software is a website or a SaaS product and whether it is deployed on one or many servers. The plan determines the cost per chart.
      %br
      %br
      %strong #{i.to_s}. Choosing a plan
      - i = i + 1
      %br
      %br
      There are three options for plans:
      %ul.pyk-ul
        %li Hobbyist Plan provides 1 developer license for one website that is deployed on one server.
        %li Startup Plan provides 10 developer licenses for one website / SaaS product that is deployed on multiple servers.
        %li OEM License is white-labeled PykCharts.js for enterprises with unlimited developers with permission to change code.
      %br
    %p.lead.pyk-lead
      %strong #{i.to_s}. What can you NOT do with charts from ChartStore.io
      - i = i + 1
      %br
      %ul.pyk-ul
        %li You cannot use PykCharts.js inside a generic charting or generic dashboarding or generic analytics product.
        %li You cannot attempt to reverse engineer the code of PykCharts.js.
        %li You cannot modify the code of PykCharts.js.
        %li Licensee undertakes not to use PykCharts.js in any way that would compete with PykCharts.js during the term of this Agreement and for a period of three (3) years after termination.
      %br
    %p.lead.pyk-lead
      %strong #{i.to_s}. Marketing:
      - i = i + 1
      %br
      %br
      We reserve the right to use the name and/or logo of the company you work for in publicity material, advertising or marketing collateral, unless you specifically tell us otherwise. Your name, email address and all other personal information will remain confidential at all times. Licensee may use Licensee’s own descriptions of the functionality provided by PykCharts.js for the purposes of marketing Licensee Product(s) insofar the descriptions are not misleading. Licensee shall not do anything that might misrepresent the ownership of PykCharts.js.
      %br
      %br
      %strong #{i.to_s}. Basics:
      - i = i + 1
      %br
      %br
      %u Copyright: 
      PykCharts.js is the property of Pykih and is protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties. 
      %br
      %br
      %u Delivery:
      PykCharts.js is made available via email attachment, with the same being available to download by the Licensee. The email is sent only after the payment is received in our bank account.
      %br
      %br
      %u Local Taxes:
      The License Fee shall be calculated based on Pykih’s then current price list. Pykih shall invoice Licensee for all payments due and Licensee shall pay all invoices by the agreed payment method. Each Party is responsible to pay any local taxes imposed by law of the Party's home country related to the purchase of ordered Items. Invoices from Pykih do not include taxes, and a Party cannot withhold any parts of the invoice amounts as payment of taxes.
      %br
      %br
      %strong #{i.to_s}. Grant of License:
      - i = i + 1
      %br
      %br
      Subject to this Agreement, Licensee is granted a perpetual, non-exclusive and non-transferable License to install and utilize PykCharts.js, within Licensee’s geographical marketplace, under Licensee’s License terms and conditions.
      %br
      %br
      Licensee and its Affiliates may produce copies of PykCharts.js necessary for lawful backup and archival purposes. Any copy of PykCharts.js made by Licensee or its affiliates in accordance with the License shall contain all the proprietary notices contained in the original copy.
      %br
      %br
      Licensee may not transfer, rent, lease, lend, sell, copy, redistribute or sublicense PykCharts.js to Third Parties. Any attempt to do so is a considered a substantial breach of this Agreement. Any works developed or derived from PykCharts.js as a consultant job, as a SaaS, usage on Intranets or in Web Applications are allowed.
      %br
      %br
      Licensee undertakes not to remove the license and copyright header from PykCharts.js, or in any other way declare or give the impression that PykCharts.js in any way endorses Licensee’s own work. Furthermore Licensee declares not to use any titles, trademarks, labels or logos, found in PykCharts.js, in Licensee’s own titles, products names, service names, or domain names.  
      %br
      %br
      Licensee shall not modify, delete or obscure any notices of proprietary rights or any Software identification or restrictions on or in PykCharts.js found in the license-header of the code files.
      %br
      %br
      Pykih reserves all rights not expressly granted to Licensee in this Agreement. Without limiting the generality of the foregoing, Licensee acknowledges and agrees that: (i) except as specifically set forth in this Agreement, Pykih retains all rights, title and interest in and to PykCharts.js and Licensee does not acquire any right, title, or interest to PykCharts.js except as set forth herein; (ii) any configuration or deployment of PykCharts.js shall not affect or diminish Pykih’s rights, title, and interest in and to PykCharts.js. Nothing in this Agreement shall limit in any way Pykih’s right to develop, use, license, create derivative works of, or otherwise exploit PykCharts.js, or to permit Third Parties to do so.
      %br
      %br
      %strong #{i.to_s}. Maintenance and Support:
      - i = i + 1
      %br
      %br
      During the term of this agreement, Licensee shall have full access to Pykih’s online support forum as set forth on Pykih’s website.
      %br
      %br
      Licensee shall be allowed to deploy all Minor Releases of PykCharts.js. Major Releases are not included. i.e. if Licensee purchased PykCharts release 1, then they are entitled to minor releases 1.2, 1.9, etc. However, the Licensee is not entitled to release 2.
      %br
      %br
      Licensee shall have the right to receive one (1) hour of technical support. Technical support is limited to e-mail support during business hours (10am to 8pm) in Indian Standard Time. Pykih will upon Licensee’s request investigate erroneous behavior of PykCharts.js, and when possible suggest corrective or work around solutions to the problems. Pykih shall commence the work as soon as possible, but not later than one week after such request is received.
      %br
      %br
      Any person or entity, to which Licensee distributes the Licensee Product(s), shall not be entitled support from Pykih.
      %br
      %br
      Licensee may at an additional fee opt for Maintenance and Support.
      %br
      %br
      %strong #{i.to_s}. Licensee's remedies
      %br
      %br
      Pykih does not warranty PykCharts.js if it has been modified or used improperly or on an operating environment not approved by Pykih. Licensee is not entitled to any damages, including but not limited to consequential damages, if PykCharts.js does not meet the licensee's requirements.
      %br
      %br
      %strong #{i.to_s}. Limitation of Liability 
      - i = i + 1
      %br
      %br
      All Software and maintenance and support services are provided ‘as is’ and may have errors or omissions. UNDER NO CIRCUMSTANCES, AND EVEN IF INFORMED THEREOF BY LICENSEE, SHALL PYKIH BE LIABLE FOR (i) LOSS OF, OR DAMAGE TO, DATA; (ii) SPECIAL, INCIDENTAL, CONSEQUENTIAL OR INDIRECT DAMAGES, OR (iii) LOST PROFITS, BUSINESS, REVENUE, GOODWILL, OR ANTICIPATED SAVINGS. Either Party’s liability for damages to the other Party for any cause whatsoever related to this Agreement, shall be limited to the License Fees paid or due by Licensee under this Agreement.
      %br
      %br
      %strong #{i.to_s}. Intellectual Property Infringement
      - i = i + 1
      %br
      %br
      Pykih will defend, indemnify and hold the Licensee harmless against any claim stating that the Software is violating any Third Party copyright provided that:
      %br
      %ul.pyk-ul
        %li The Licensee promptly notifies Pykih of the claim; 
        %li A hardcopy of the notices of copyright infringement is sent to Pykih at charts@pykih.com
        %li The Licensee use best effort to stop any claim that is unfound; 
        %li Notwithstanding the above Pykih shall have sole control of the defense and all related settlement negotiation in the case of legal proceedings; 
        %li The Licensee provides Pykih with all necessary assistance, information and authority to perform the above.
      %p.lead.pyk-lead
        If the Software is held by a final court ruling to be infringing any Third Party intellectual property rights Pykih will at its option: (i) obtain the right for Licensee to continue to use the Software consistent with this Agreement; (ii) modify the Software so that it is non-infringing; or solely in the event that (i) and (ii) are not feasible, (iii) refund any and all invoiced amounts to Licensee and all of Pykih’s obligations under this Agreement shall terminate upon written notice. Notwithstanding the foregoing, Pykih's indemnity obligations under this clause 12 shall under any circumstances be limited to the total amount invoiced to Licensee by Pykih under this Agreement during the last twelve (12) months prior to the day when Company raised the indemnity claim.
        %br
        %br
        %strong #{i.to_s}. Confidentiality
        - i = i + 1
        %br
        %br
        Each Party acknowledges that Confidential Information is proprietary and valuable to Disclosing Party and that any disclosure or unauthorized use thereof will cause irreparable harm and loss to Disclosing Party.
        %br
        %br
        Confidential Information shall not include information that (i) is generally known to the public at the time of disclosure; (ii) is legally received by Receiving Party from a Third Party, which Third Party is in rightful possession of Confidential Information, (iii) becomes generally known to the public subsequent to the time of such disclosure, but not as a result of disclosure by Receiving Party, or (iv) prior to signing of this Agreement, is already in the possession of Receiving Party. 
        %br
        %br
        %u Obligations of Receiving Party in Regards to Confidential Information: 
        %ul.pyk-ul
          %li In consideration of the disclosure to Receiving Party of Confidential Information, Receiving Party agrees to receive and to treat Confidential Information on a confidential and restricted basis and to undertake the following additional obligations with respect thereto;  
          %li To use Confidential Information for the sole purpose of fulfilling this Agreement unless otherwise agreed to in express writing by the Parties.  
          %li Not to duplicate, in whole or in part, any Confidential Information.  
          %li Not to disclose Confidential Information to its members, officers, employees, affiliates, counsel  or consultants except on a need-to-know basis and each such person receiving Confidential Information shall be notified of and required to abide by the terms and conditions of this Agreement.  
          %li Not to disclose Confidential Information to any Third Party entity or individual, corporation, partnership, sole proprietorship, customer, advisor or client without the prior express written consent of Disclosing Party.  
        %br
      %p.lead.pyk-lead  
        This confidentiality clause shall survive any termination of the Agreement however occasioned. 
        %br
        %br
        %strong #{i.to_s}. Relationship Between the Parties
        - i = i + 1
        %br
        %br
        The Parties are independent contractors and this Agreement will not be construed as constituting either Party as partner, joint venture or fiduciary of the other, as creating any other form of legal association that would impose liability on one Party for the act or failure to act of the other or as providing either Party with the right, power, or authority (express or implied) to create any duty or obligation of the other. Neither Party shall directly or indirectly represent to the public that it has the right or the authority to create or accept obligations on behalf of the other Party. Except as otherwise expressly provided in this Agreement, each Party has the sole right and obligation to supervise, manage, contract, direct, procure, perform or cause to be performed all work to be performed by it under this Agreement. 
        %br
        %br
        %strong #{i.to_s}. Severability
        - i = i + 1
        %br
        %br
        In the event any provision of this Agreement is held to be invalid or unenforceable, the remaining provisions of this Agreement will remain in full force. 
        %br
        %br
        %strong #{i.to_s}. Waiver 
        - i = i + 1
        %br
        %br
        The waiver by either Pykih or Licensee of any default or breach of this Agreement shall not constitute a waiver of any other or subsequent default or breach. Except for actions for non-payment or breach of Pykih’s proprietary rights in the Software, no action, regardless of form, arising out of this Agreement may be brought by either Party more than one (1) year after the cause of action has accrued. 
        %br
        %br
        %strong #{i.to_s}. Non-assignment
        - i = i + 1
        %br
        %br
        Neither Party shall assign or transfer all or any part of its rights under this Agreement without the other Party’s prior written consent. Notwithstanding the foregoing, either party may assign this Agreement in its entirety to its affiliate or in connection with a merger, acquisition, corporate reorganization, or sale of all or substantially all of its assets. Subject to the foregoing, Licensee must notify Pykih in writing and unless otherwise agreed upon, this Agreement shall bind and inure to the benefit of the Parties, their respective successors and permitted assigns.
        %br
        %br
        %strong #{i.to_s}. Applicable Law and Legal Venue
        - i = i + 1
        %br
        %br
        This Agreement shall be governed by and construed in accordance with the laws of India. Any dispute, controversy or claim arising out of or relating to this Agreement, or the breach, termination or invalidity thereof, the Parties shall seek to solve amicably through negotiations. If the Parties do not reach an amicable solution within two (2) weeks, any dispute, controversy or claim shall be finally settled by arbitration before the Mumbai High Court that shall have exclusive jurisdiction over all disputes arising in connection with this Agreement. Arbitration shall be conducted in Mumbai, India before one arbitrator appointed in accordance with Indian Law. All arbitration shall be conducted in English. Judgment upon any arbitral award rendered in any such arbitration is confidential and may be entered in any court having jurisdiction thereof or application may be made to such court for a judicial acceptance of award and an order of enforcement, as the case may be.