.row
  .col-sm-12
    %h1.m0p0{style: "font-weight: 100;"} Charts Supported
    %hr
.row
  .col-sm-2
    #scroll_target
      %ul.nav.nav-list.bs-docs-sidenav.affix{"data-offset-top" => "-10", "data-spy" => "affix"}
        %li= link_to "Overview", "#overview", style: "padding-left: 0px;"
        %li= link_to "One Dimensional", "#one-dimensional", style: "padding-left: 0px;"
        %li= link_to "Two Dimensional", "#two-dimensional", style: "padding-left: 0px;"
        %li= link_to "Multi Dimensional", "#multi-dimensional", style: "padding-left: 0px;"
        %li= link_to "Hierarchical", "#hierarchical", style: "padding-left: 0px;"
        %li= link_to "Relationship", "#relationship", style: "padding-left: 0px;"
        %li= link_to "Two Level Relationship", "#two-level-relationship", style: "padding-left: 0px;"
        %li= link_to "Hierarchical Relationship", "#hierarchical-relationship", style: "padding-left: 0px;"
  .col-sm-10
    %p.lead Rumi.io DataHub provides 50+ different charts and 200+ maps to choose from.
    %hr{id: "one-dimensional"}
    %h2.thin.red{style: "margin-bottom: 30px;"} One Dimensional Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/bubble.png", class: "col-sm-10"
        %p Bubble
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/donut.png", class: "col-sm-10"
        %p Donut
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/election_donut.png", class: "col-sm-10"
        %p Election Donut
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/funnel.png", class: "col-sm-10"
        %p Funnel Chart
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/pie.png", class: "col-sm-10"
        %p Pie
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/percentage_triangle.png", class: "col-sm-10"
        %p Percentage Triangle
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/percentage_rectangle.png", class: "col-sm-10"
        %p Percentage Rectangle
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/percentage_column.png", class: "col-sm-10"
        %p Percentage Column
    %h4.thin.red{style: "margin: 30px 0px;"} Grouped One Dimensional Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/grouped_bubble.png", class: "col-sm-10"
        %p Grouped Bubble
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/pie_bar.png", class: "col-sm-10"
        %p Zoomable Pie
    %hr{id: "two-dimensional"}
    %h2.thin.red{style: "margin: 30px 0px;"} Two Dimensional Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/dot.png", class: "col-sm-10"
        %p Scatter
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/line.png", class: "col-sm-10"
        %p Line
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/area.png", class: "col-sm-10"
        %p Area
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/range.png", class: "col-sm-10"
        %p Range
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/bar.png", class: "col-sm-10"
        %p Bar
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/column.png", class: "col-sm-10"
        %p Column
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/spider.png", class: "col-sm-10"
        %p Spider
    %h4.thin.red{style: "margin: 30px 0px;"} Grouped Weighted Two Dimensional Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/scatter.png", class: "col-sm-10"
        %p Weighted Scatter
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/grouped_scatter.png", class: "col-sm-10"
        %p Grouped Weighted Scatter
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/circle_comp.png", class: "col-sm-10"
        %p Circle Comparison
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/grouped_circle_comp.png", class: "col-sm-10"
        %p Grouped Circle Comparison
    %hr{id: "multi-dimensional"}
    %h2.thin.red{style: "margin: 30px 0px;"} Multi Dimensional Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/gantt.png", class: "col-sm-10"
        %p Gantt Chart
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/grouped_stacked_column.png", class: "col-sm-10"
        %p Grouped Stacked Column
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/grouped_column.png", class: "col-sm-10"
        %p Grouped Column
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/multiline.png", class: "col-sm-10"
        %p Multi Series Line
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/stacked_percentage_area.png", class: "col-sm-10"
        %p Stacked Percentage Area
    %hr{id: "hierarchical"}
    %h2.thin.red{style: "margin: 30px 0px;"} Hierarchical Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/circular_tree.png", class: "col-sm-10"
        %p Circular Dendogram
    %h4.thin.red{style: "margin: 30px 0px;"} Grouped Weighted Hierarchical Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/sunburst.png", class: "col-sm-10"
        %p Sunburst
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/treerect.png", class: "col-sm-10"
        %p Tree Rectangle
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/tree_bar.png", class: "col-sm-10"
        %p Tree Bar
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/weighted_tree.png", class: "col-sm-10"
        %p Weighted Tree
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/packed_circle.png", class: "col-sm-10"
        %p Packed Circle
    %hr{id: "relationship"}
    %h2.thin.red{style: "margin: 30px 0px;"} Relationship Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/graph.png", class: "col-sm-10"
        %p Graph
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/collapsible_graph.png", class: "col-sm-10"
        %p Collapsible Graph
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/hive.png", class: "col-sm-10"
        %p Hive
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/parallel_coordinates.png", class: "col-sm-10"
        %p Parallel Coordinates
    %hr{id: "two-level-relationship"}
    %h2.thin.red{style: "margin: 30px 0px;"} Two-level Relationship Chart
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/matrix.png", class: "col-sm-10"
        %p Matrix
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/half_matrix.png", class: "col-sm-10"
        %p Half Matrix
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/chord.png", class: "col-sm-10"
        %p Chord
    %hr{id: "hierarchical-relationship"}
    %h2.thin.red{style: "margin: 30px 0px;"} Hierarchical Relationship Charts
    .row{style: "margin: 20px 0px;"}
      .col-sm-3.text-center
        %p.col-sm-12= image_tag "https://s3.amazonaws.com/PykCharts/200/sankey.png", class: "col-sm-10"
        %p Sankey