.clearfix
%table.table.table-condensed
  %thead
    %tr
      %th.col-sm-8 Name
      %th
      %th Kind
      %th Date Modified
      %th
  %tbody
    -@vizs.each_with_index do |viz,index|
      %tr
        %td.borderless
          - if viz.ref_chart.name == "Grid"
            %span.octicon.octicon-file-binary
          - else
            %span.octicon.octicon-graph
          = link_to viz.name, "#"
        - if @sudo[1]
          %td.borderless
            =link_to "Edit", account_core_project_viz_path(@account,@core_project,viz)
            
        %td.borderless
          - if viz.ref_chart.name == "Grid"
            API
          - else
            = viz.ref_chart.name
        %td.borderless
          %span.hint= time_ago_in_words(viz.updated_at) + " ago"
        - if @sudo[1]
          %td.borderless= icon_del(account_core_project_viz_path(@account,@core_project,viz))
          
.clearfix
%br
%center
  = paginate @vizs