- content_for :title do
  Datacasts · #{@core_project.name}

.previous-sheet
  %h3= show_project_name(@core_project).html_safe
  .panel.panel-default.sheet.sub
    .panel-body
      %h4.m0p0
        - if @parent.present?
          = clone
        = @data_store.name
        .pull-right
          = link_to "Data View", _account_project_data_store_path(@data_store.account, @data_store.core_project, @data_store), class: "btn btn-default btn-sm"
          = link_to "Explore on Map", _map_account_project_data_store_path(@data_store.account, @data_store.core_project, @data_store), class: "btn btn-default btn-sm",id: "explore_on_map_button"
          = link_to "<span class='octicon octicon-broadcast'></span> Datacasts".html_safe, _visualizations_account_project_data_store_path(@account, @data_store.core_project, @data_store), class: "btn btn-orange btn-sm active"
      %hr
      %div{style: "color: #aa9c84; margin: 5px 0px 0px 0px;"} 
        .col-sm-9
          Datacasts are a great way to share charts or pre-defined query end-points behind a URL. Datacasts are best used to create dashboards and reports.
        .col-sm-3
          .pull-right= link_to "Publish new datacast".html_safe, _new_visualizations_account_project_data_store_path(@account, @core_project, @data_store), class: "btn btn-orange btn-sm"
        
      .row
        .col-sm-12
          %hr
          =render partial: "index", locals: {viz: @vizs}
    