= include_gon
%br
=simple_form_for(@viz, url: account_core_project_vizs_path(@account,@core_project),html:{class: "form-inline"},method: :post) do |f|
  .container-fluid
    .row-fluid
      .col-sm-2
        .panel.panel-default
          .panel-heading
            .panel-title Viz
          .panel-body{style: "height: 450px"}
            = f.input :name, input_html:{class: "form-control"}, required: true
            .clearfix
            %br
            - unless @core_datacasts.nil?
              %div
                %label *Select a datacast
                %select#core_datacasts.form-control
                  %option.form-control= "Select"
                  - @core_datacasts.each do |core_datacast|
                    %option.form-control{"data-metrics" => core_datacast.column_names("m"),"data-dimensions" => core_datacast.column_names("d"), 'value' => core_datacast.identifier}= core_datacast.name
              %br
              %div
                = f.input :filter_present, as: :boolean, input_html: {id: "id_manual_chart_filter",class: "form-control-checkbox"},label: false
                %label Enable Filter
              %div
                = f.input :filter_column_name, collection: [],input_html: {style: "display:none;", id: "core_datacasts_filter", class: "form-control"}, include_blank: "Select Filter", label: false
      #data_container.col-sm-8.categorize_columns-droppable.query-droppable.sortable
        #filter_show{style: "display:none;"}
        #table_show{style: "max-height:450px;display:none;"}
        /DONT REMOVE THE INLINE STYLE FROM ABOVE LINE.
        #chart_show{style: "max-height:450px;display:none;"}
        #box_show{style: "max-height:450px;display:none;"}
        #chart_eligibility.hint.pull-left
        .clearfix
      .col-sm-2
        .panel.panel-default
          .panel-heading
            .panel-title Select chart
          .panel-body{style: "height: 450px;"}
            #chart_selector_list
              = image_tag "https://s3-ap-southeast-1.amazonaws.com/charts.pykih.com/icons/grid-icon.png", id: "show_grid_and_hide_the_chart", class: "col-sm-3 disabled options", style: "margin: 3px;padding:0px;","data-combination_code" => "e91b52","data-api" => "handsontable"
              - @ref_charts.each do |ref_chart|
                -dimensions_and_metrics = JSON.parse(ref_chart.map)
                %img{src: "#{ref_chart.img_small}", class: "col-sm-3 charts disabled options", style: "margin: 3px;padding:0px;", id: "#{ref_chart.slug}", "data-api" => ref_chart.api, "data-dimensions_required" => dimensions_and_metrics['dimensions_required'], "data-metrics_required" => dimensions_and_metrics['metrics_required'], "data-combination_code" => ref_chart.combination_code, "data-dimensions_alias" =>dimensions_and_metrics['dimensions_alias'],"data-metrics_alias" => dimensions_and_metrics['metrics_alias']}
        .clearfix
        = f.input :ref_chart_combination_code, as: :hidden
        = f.input :core_datacast_identifier, as: :hidden
        = f.input :filter_column_d_or_m, as: :hidden
        = f.submit "Save as Draft >",id: "core_viz_submit",class: "btn btn-lg btn-orange", disabled: true
