#aggregation_selection_list
  %strong Functions
  %span.glyphicon.glyphicon-remove.close-aggregation-list.pull-right
  %br
  %select#select_metrics{:multiple => "multiple", :name => "select_metrics"}
    %option{:value => "sum"} Sum
    %option{:value => "count"} Count
    %option{:value => "min"} Minimum
    %option{:value => "max"} Maximum
    %option{:value => "avg"} Average
    %option{:value => "median"} Median
.container-fluid
  .row-fluid
    .col-sm-2
      - unless @core_datacasts.nil?
        %select#core_datacasts.form-control
          - @core_datacasts.each do |core_datacast|
            %option.form-control{"data-metrics" => core_datacast.column_names("m"),"data-dimensions" => core_datacast.column_names("d"), 'value' => core_datacast.identifier}= core_datacast.name
    #data_container.col-sm-8.categorize_columns-droppable.query-droppable.sortable
      #table_show{style: "height:450px;overflow:scroll;display:none;"}
      /DONT REMOVE THE INLINE STYLE FROM ABOVE LINE.
      #chart_show{style: "height:450px;overflow:scroll;"}
      #chart_eligibility.hint.pull-left
      .clearfix
    .col-sm-2
      %br
      %ul.nav.nav-tabs.grid#myTab{:role => "tablist"}
        %li.active#all_charts{role: "navigation"}= link_to "Charts", "#chart_selector_list", "data-toggle" => "tab", :role => "tab", style: "font-size: 10px; color: black;"
      / .panel.panel-default
      /   .panel-heading
      /     .panel-title Select chart
      /   .panel-body{style: "height: 400px; overflow-y: scroll;"}
      #divg1
      .tab-content
        #chart_selector_list.tab-pane.active
          = image_tag "https://s3-ap-southeast-1.amazonaws.com/charts.pykih.com/icons/grid-icon.png", id: "show_grid_and_hide_the_chart", class: "col-sm-3 disabled options", style: "margin: 3px;padding:0px;","data-combination_code" => "e91b52"
          - @ref_charts.each do |ref_chart|
            -dimensions_and_metrics = JSON.parse(ref_chart.map)
            %img{src: "#{ref_chart.img_small}", class: "col-sm-3 charts disabled options", style: "margin: 3px;padding:0px;", id: "#{ref_chart.slug}", "data-api" => ref_chart.api, "data-dimensions_required" => dimensions_and_metrics['dimensions_required'], "data-metrics_required" => dimensions_and_metrics['metrics_required'], "data-combination_code" => ref_chart.combination_code, "data-dimensions_alias" =>dimensions_and_metrics['dimensions_alias'],"data-metrics_alias" => dimensions_and_metrics['metrics_alias']}

      .clearfix
      / =simple_form_for(@viz, url: account_core_project_vizs_path(@account,@core_project),html:{class: "form-inline"},method: :post) do |f|
      /   = f.input :ref_chart_combination_code, as: :hidden, id: "ref_chart_combination_code"
      /   = f.input :config,as: :hidden,id: "config"
      /   = f.input :pykquery_object, as: :hidden, id: "pykquery_object"
      /   = f.submit "Save as Draft >",id: "core_viz_submit",class: "btn btn-lg btn-orange",style: "display:none"
