%script{:src => "/assets/vizs.js"}
= include_gon

.previous-sheet
  %h3= show_project_name(@core_project).html_safe
  .panel.panel-default.sheet.sub
    .panel-body
      .row
        .col-sm-7
          = link_to "< Back to all datacasts",  _account_project_vizs_path(@core_project.account, @core_project)
          %hr
          -if @data_format == "csv"
            #chart_container{style: @viz.ref_chart.slug == "grid" ? "overflow:scroll" : nil}
          -else
            %textarea#chart_container_display{:readonly => ""}
          %br
        .col-sm-5
          %br
          %br
          %p
            Data Set
            &nbsp; : &nbsp;
            = link_to @data_store.name, _account_project_data_store_path(@data_store.account, @data_store.core_project, @data_store), class: "u black"
      

:javascript
  var chart_name = "#{@viz.ref_chart.name}",initializer = (chart_name == "Grid") ? "#{@initializer}" : #{@initializer},config_data = #{@viz.config.to_json},obj = #{@viz.config.to_json},selector = "#chart_container";