!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = image_tag "https://s3-ap-southeast-1.amazonaws.com/ap-southeast-1.datahub.pykih/assets/images/rumi-logo.png"
    %br
    %br
    = @invitor.username
    invited you to collaborate on data projects at account: 
    %strong= @account.slug
    account 
    on 
    = link_to "Rumi.io DataHub", BASE_URL
    %br
    %br
    Please 
    = link_to "sign up", "#{BASE_URL}/accounts/sign_up"
    or  
    = link_to "sign in", "#{BASE_URL}/accounts/sign_in"
    if you already have an account.
    %br
    %br
    The Pykih Team
    %br
    = link_to "pykih data visualization", "https://www.pykih.com"