!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = image_tag "https://s3-ap-southeast-1.amazonaws.com/ap-southeast-1.datahub.pykih/assets/images/rumi-logo.png"

    %p= "Hello #{@reffered_account.username} ," 

    %p= "Congratulations, #{@new_account.username} signed up on Rumi on your reference link."

    %br
    The Rumi Team
    %br
    = link_to "Rumi.io", root_url