- content_for :title do
  Edit Profile · #{current_account.username}
.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-8
    .panel.panel-default
      .panel-heading
        .panel-title Additional Emails
      .panel-body
        %p Your primary Europeana email address will be used for account-related notifications (e.g. account changes and billing receipts) as well as any web-based Europeana operations.
        -if @core_account_emails.first.present?
          %table.table.table-condensed.table-striped
            %thead
              %th Email
              %th 
              %th
            %tbody
              -@core_account_emails.each do |account_email|
                %tr
                  %td= account_email.email
                  %td 
                    - if !account_email.confirmed_at.blank?
                      .hint= "#{time_ago_in_words(account_email.confirmed_at)} ago"
                    -elsif account_email.is_primary?
                      .green= "Primary Email"
                    -else
                      = link_to "Resend Confirmation", resend_confirmation_account_core_account_email_path(@account,account_email)
                  -unless account_email.is_primary?
                    %td= icon_del(account_core_account_email_path(@account,account_email.id))
        
        = simple_form_for(@core_account_email, url: account_core_account_emails_path(@account,@core_account_email) ,html: {class: "form-inline", method: "post"}) do |f|
          .hint Add email address
          = f.input :email, label: false
          = f.button :submit, "Add", class: "btn btn-default"
  .col-sm-2
    %p Why add additional emails?
    %p.pykhelp Your primary account at Europeana might be registered with your personal email ID. 
    %p.pykhelp Later an organisation invites you to collaborate on a project to your corporate email ID. In such a case, you might not want to create a separate Europeana account. 
    %p.pykhelp Hence, add your corporate email ID as a secondary email in your Europeana and the collaboration request will route to your personal Europeana account.