-if @core_map_files.count > 0
  %table.table.table-condensed
    %thead
      %tr
        %th.col-sm-8 Name
        %th Kind
        %th Date Modified
        %th Downloads
        %th
    %tbody
      - @core_map_files.each do |core_map_file|
        %tr
          %td.borderless
            = link_to core_map_file.account.slug, _account_path(core_map_file.account)
            = "/"
            = link_to core_map_file.name, account_core_map_file_path(core_map_file.account, core_map_file)
            -if core_map_file.is_verified
              = image_tag "map_file_verified.png"
          %td.borderless
            = core_map_file.filetype
          %td.borderless
            %span.hint= time_ago_in_words(core_map_file.updated_at) + " ago"
          %td.borderless
            = core_map_file.downloads.count
          %td.borderless
            = link_to "<b class='glyphicon glyphicon-download-alt'></b>".html_safe, download_account_core_map_file_path(core_map_file.account,core_map_file), target: "_blank"
-else 
  %h4 No Record Found

