- content_for :title do
  Edit Profile · #{current_account.username}
%script{src: "/assets/map_file.js"}
= include_gon
.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-10
    .panel.panel-default
      -if @account.accountable_type == "Organisation"
        .panel-heading
          .previous-sheet
            %h3{style: "padding-left: 30px;"}
              = link_to @account.username, _account_path(@account), class: "thin"
              %span.thin= " / "
              %b= link_to "Map Files", _account_map_files_path(@account,@core_map_file)
            .panel.panel-default.sheet.sub
              .panel-body
                %h4
                  =@core_map_file.name
                  -if @core_map_file.is_verified
                    = image_tag "map_file_verified.png"
                .row
                  .col-sm-12
                    %br
                    #map_container{style: "padding:200px 0px 0px 200px;height:490px;width:90%;"}
                      .PykCharts-loading loading...

      - else
        .panel-heading
          .panel-title
            = @core_map_file.name
            -if @core_map_file.is_verified
              = image_tag "map_file_verified.png"
        .panel-body
          .row
            .col-sm-12{style: "height:100%"}
              %br
              #map_container{style: "padding:200px 0px 0px 200px;height:490px;width:90%"}
                .PykCharts-loading loading...

:javascript
  var data_file = "#{@core_map_file.cdn_published_url}"