.previous-sheet
  %h3
    =h show_project_name(@core_project)
    %span.gray= " / "
    = link_to "Blacklist Datasets", "#", class: "thin"
  .panel.panel-default.sheet.sub
    .panel-body
      .col.sm-9
        = simple_form_for(@blacklist_dataset, url: account_project_impl_blacklist_datasets_path(@account, @core_project), input_html: {class: "form-horizontal"}) do |f|
          = f.input :dataset
          = f.submit "Add"
        - if @blacklist_datasets.first.present?
          %table.table.table-condensed
            %thead
              %th Dataset
            - @blacklist_datasets.each do |dataset|
              %tr
                %td= dataset.dataset
                %td= icon_del(account_project_impl_blacklist_dataset_path(@account,@core_project,dataset))
          = paginate @blacklist_datasets