= include_gon
.previous-sheet
  %h3=h show_project_name(@core_project)
  .panel.panel-default.sheet.sub
    .panel-body
      .row
        .col-sm-12
          =simple_form_for(@core_datacast_pull, url:  account_core_project_datacast_pull_path(@core_datacast_pull.core_project.account,@core_datacast_pull.core_project,@core_datacast_pull),method: :put) do |f|
            .col-sm-6
              = f.input :core_db_connection_id,as: :hidden

              = f.input :table_name, required: true, label: "Table"
              = f.input :file_url,as: :string ,required: true, label: "File URL"
            .clearfix
            %input{:checked => true, :name => "first_row_header", :type => "checkbox"}
              First Row Header
              %br
              %br
            /here the errors will be displayed
            = f.submit "Restart Pull", class: "btn btn-lg"

