- if action_name == "new"
  - url = account_core_project_cards_path(@account, @core_project)
  - method = "post"
-elsif action_name == "edit"
  - url = account_core_project_card_path(@account, @core_project, @core_card)
  - method = "put,"

= simple_form_for(@core_card, url: url, method: method) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :is_public
    = f.input :content
    = f.input :core_card_layout_id
    = f.input :core_project_id
    = f.input :core_datacast_identifier
    = f.input :created_by
    = f.input :updated_by

  .form-actions
    = f.button :submit
