%p#notice= notice

%p
  %b Name:
  = @core_card.name
%p
  %b Is public:
  = @core_card.is_public
%p
  %b Content:
  = @core_card.content
%p
  %b Properties:
  = @core_card.properties
%p
  %b Core card layout:
  = @core_card.core_card_layout_id
%p
  %b Core project:
  = @core_card.core_project_id
%p
  %b Core datacast identifier:
  = @core_card.core_datacast_identifier
%p
  %b Created by:
  = @core_card.created_by
%p
  %b Updated by:
  = @core_card.updated_by

= link_to 'Edit', edit_core_card_path(@core_card)
\|
= link_to 'Back', core_cards_path
