- content_for :title do
  Security · #{current_account.username}
.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-8
    %br
    .panel.panel-default
      .panel-heading
        .panel-title
          Change Password for username:
          %b
            %u= @account.username
      .panel-body
        .col-sm-8
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "form-horizontal"}) do |f|
            = f.error_notification
            = f.input :current_password, as: :password, autocomplete: "off", required: true, hint: "We need your current password to confirm your changes"
            = f.input :password, as: :password, required: true, label: "New Password"
            = f.input :password_confirmation,required: true, label: "Confirm Password"
            = f.button :submit, "Change Password"