- content_for :title do
  Organisation Profile · #{@account.username}

.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-8
    .panel.panel-default
      .panel-heading= render partial: "core/organisations/topbar"
      .panel-body
        .col-sm-6
          = simple_form_for(@account, url: core_organisation_path(@account), html: {class: "form-horizontal", method: "put"}) do |f|
            = f.input :name, as: :string, hint: "Please use real names", autofocus: true, label: "Organisation Name"
            = f.input :email, as: :email, label: "Billing Email ID", required: true
            = f.input :gravatar_email_id, as: :email, autofocus: true, hint: "(Public Email ID)", required: true
            = f.input :location, as: :string, hint: "E.g. Mumbai, India"
            = f.input :bio, as: :text, input_html: { autocomplete: "off"}, label: "Describe your organisation"
            = f.input :url, as: :url, autofocus: true, label: "Website"
            = f.button :submit, "Save"
  .col-sm-2
    %table.table.table-condensed
      %tr
        %td Username
        %td :
        %td= @account.username
    %p= image_tag account_image(@account, 80), class: "col-sm-12", style: "margin-bottom: 20px;"
    %p.hint Profile image is coming from Gravatar