- content_for :title do
  Organisations · #{current_account.username}

.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-8
    - if @organisations.first.present?
      .panel.panel-default
        .panel-heading
          .panel-title My Organisation Accounts
        .panel-body
          %table.table.table-condensed.table-striped
            - @organisations.each do |organisation_permission|
              %tr
                %td
                  %strong= link_to organisation_permission.username, _account_path(organisation_permission)
          - if Rails.env.development?
            %p.red TODO:  My organisations
            %p.red TODO:  Organisations I am part of
            %p.red TODO:  Publisize membership of organisation
    .panel.panel-default
      .panel-heading
        .panel-title Add a new Organisation Account
      .panel-body
        .col-sm-9
          = simple_form_for(@account, url: core_organisations_path, html: {method: :post, class: "form-horizontal"}) do |f|
            = f.error_notification
            = f.input :accountable_type, as: :hidden, input_html: {value: Constants::ACC_O}
            = f.input :username, as: :string, autocomplete: "off", required: true, hint: "Note: Once you set a username, then you cannot change it. Your public profile will be https://rumi.io/username"
            = f.input :email, as: :email, label: "Billing Email ID", autocomplete: "off", required: true
            = f.button :submit, "Add"
  .col-sm-2
    %p Why create organisation accounts?
    %p.pykhelp Whether you're running an open source project or a Fortune 500 company, organizations simplify team management. Once you create an organisation, you can create teams and give them granular access to projects.