.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-10
    .previous-sheet
      %h3{style: "padding-left: 30px;"}
        = link_to @account.username, _account_path(@account), class: "thin"
        %span.thin= " / "
        %b= link_to "Custom Themes", core_organisation_themes_path
      .panel.panel-default.sheet.sub
        .panel-body
          %h4 Create a new custom theme for your organisation
          %hr
          = simple_form_for(@core_theme, url: core_organisation_themes_path(@account), method: :post, html: {class: "form-inline"}) do |f|
            = f.input :name, as: :string, autocomplete: "off", required: true, input_html: {class: "col-sm-12", style: "margin-bottom: 20px;"}, label: "Theme Name"
            %br
            .clearfix
            = f.input :config, as: :hidden, id: "theme_config"
            = f.input :image_url, as: :hidden
            = f.input :sort_order, as: :hidden
            = f.input :account_id, as: :hidden
            .col-sm-4{style: "padding:0px"}
              = render '/core/vizs/live_editor'
            .col-sm-8
              #chart_container
            
            .clearfix
            %br
            = f.button :submit, "Save", id: "theme_submit",class: "btn btn-lg"
          %br
          %br
          .clearfix
          %h3.thin Click on a pykih theme to customize it further
          = render 'core_themes'
%script{:src => "/assets/core_themes.js"}