%ul.nav.nav-tabs.grid#myTab{:role => "tablist"}
  -if @sudo[1]
    - if action_name == "map"
      %li.active#mapConfigure{role: "navigation"}= link_to "Configure Map", "#map_options", "data-toggle" => "tab", :role => "tab", style: "font-size: 12px; color: black;"
      %li#table1{role: "navigation"}= link_to "Table", "#table", "data-toggle" => "tab", :role => "tab", style: "font-size: 12px; color: black;"
    - else
      %li.active#table1{role: "navigation"}= link_to "Table", "#table", "data-toggle" => "tab", :role => "tab", style: "font-size: 12px; color: black;"
  %li#hide_when_column_is_selected_2{role: "navigation"}= link_to 'Filters <span id="applied_filters_tab_count" class="badge" style="font-weight: 400;"></span>'.html_safe, "#column2", "data-toggle" => "tab", :role => "tab", style: "font-size: 12px; color: black;"


  %li#show_when_column_is_selected_3{role: "navigation", style: "display: none;"}= link_to "Filter this column", "#column", "data-toggle" => "tab", :role => "tab", style: "font-size: 12px; color: black;"

.tab-content.grid
  -if @sudo[1]
    - if action_name == "map"
      #map_options.tab-pane.active{style: "height: 500px; overflow-y: scroll; padding: 10px;", role: "tabpanel"}
        %br
        %strong What do you want to see?
        %br
        %table{style: "margin-top: 10px;"}
          %tr
            %td.gray.thin
              Latitude
              %br
              %br
            %td.gray.thin
              &nbsp; : &nbsp;
              %br
              %br
            %td
              %select#show_latitude_column
              %br
              %br
          %tr
            %td.gray.thin
              Longitude
              %br
              %br
            %td.gray.thin
              &nbsp; : &nbsp;
              %br
              %br
            %td
              %select#show_longitude_column
              %br
              %br
          %tr
            %td.gray.thin
              Metrics
              %br
              %br
            %td.gray.thin
              &nbsp; : &nbsp;
              %br
              %br
            %td
              %select#show_metrics_column
              %br
              %br
          %tr
            %td.gray.thin
              Set Map Filter Radius
            %td.gray.thin
              &nbsp; : &nbsp;
            %td
              .input-group
                %input#circle_radius{:name => "currency", :type => "text", :style=>" width:35px"}
                %span.input-group-addon km

        %hr{style: "border-top: 1px solid lightgray; margin: 10px 0px;"}
        %strong How do you want to see?
        %br
        %br
        %input{:id=>"cluster_markers",:name => "markerCluster", :type => "checkbox", :value => "cluster"}
        Cluster the data
        %br
        %br
        %input#refresh{:type => "button", :value=> "Refresh the data", class: "btn btn-default"}
        &nbsp; &nbsp;
        = link_to "<b class='octicon octicon-screen-normal'></b> Focus".html_safe, "#", id: "focus", class: "btn btn-default"


    #table.tab-pane{class: action_name == "map" ? nil : "active", style: "height: 500px; overflow-y: scroll; padding: 10px;", role: "tabpanel"}
      = link_to "Recalibrate Metadata", recalibrate_metadata_account_core_project_data_store_path(@account, @core_project, @data_store), class: "btn btn-sm btn-default"
      %br
      %br
      %strong Dimensions
      = link_to "<b class='octicon octicon-issue-opened'></b>".html_safe, "#", "data-toggle"=>"popover", title:  "What is a Dimension?", "data-content"=>"Dimension Columns are typically text data e.g. people, countries, products, stores, etc. It might also include qualitative data points like color, size, etc.", tabindex: "0", "data-trigger"=>"focus", "data-placement"=>"top" 
      
      
      %ul#ref_dimensions_list.categorize_columns-droppable.sortable.ui-sortable.column_list{style: "border: 1px dashed gray" }
      .clearfix
      %strong Metrics
      = link_to "<b class='octicon octicon-issue-opened'></b>".html_safe, "#", "data-toggle"=>"popover", title:  "What is a Metric?", "data-content"=>"Metric Columns are typically numeric and often can be summed, averaged, etc. E.g. price, quantity, number of votes, etc.", tabindex: "0", "data-trigger"=>"focus", "data-placement"=>"top" 
      %ul#ref_metrics_list.categorize_columns-droppable.sortable.ui-sortable.column_list{style: "border: 1px dashed gray" }
      .clearfix

  #column2.tab-pane{style: "height: 500px; overflow-y: scroll;", role: "tabpanel"}
    #hide_when_column_is_selected_1{style: "margin-top: 10px;"}
      .hint
      #list_applied_filters
  #column.tab-pane{style: "height: 500px; overflow-y: scroll;", role: "tabpanel"}
    #show_when_column_is_selected_1{style: "margin-top: 10px;"}
      %form{:role => "form", id: "input-col-form"}
        #grid-column-form
          #data-form-area
            %input{id: "input-primary-key", value: "", hidden: "hidden"}
            .form-group{style: "margin: 20px 20px 0px 20px;"}
              %hr{style: "border-top: 1px solid lightgray; margin: 10px 0px;"}
              %strong Filter by Data Type
              #grid_datatypes{style: "margin-top: 5px;"}
            .form-group{style: "margin: 10px 20px 10px 20px;"}
              #pyk_histogram
              #histogram_min_max{style:"display:none"}
                .col-sm-3
                  %span.hint{} MIN
                  %input.form-control#min_value.histogram-val{"aria-describedby" => "sizing-addon3", :placeholder => "min", :type => "text", style: "padding: 0px; height: 16px;font-size: 12px;"}
                .col-sm-3
                  %span.hint{} MAX
                  %input.form-control#max_value.histogram-val{"aria-describedby" => "sizing-addon3", :placeholder => "max", :type => "text", style: "padding: 0px; height: 16px; font-size: 12px;"}
                .col-sm-6
                  #filter_toggle.btn-group{"data-toggle" => "buttons", style: "margin-top: 15px;"}
                    %label.btn.btn-xs.btn-default.active
                      %input#toggle_in{:autocomplete => "off", :checked => "", :name => "options", :type => "radio",:value => 'in'}IN
                    %label.btn.btn-xs.btn-default
                      %input#toggle_not_in{:autocomplete => "off", :name => "options", :type => "radio",:value => 'notin'}NOT IN
            #merge.form-group{style: "margin: 10px 20px 0px 20px; display:none"}
              %h5{style: "margin-bottom: 20px;"}
                Filter by Uniques
                #unique-values.pull-right.gray.thin
                = #pending
              %input#search_box{:style => "width: 95px", :type => "text",:placeholder => "search..."}
              #sorting-value.dropdown.pull-right{style:"display:block;"}
                %a#dropdownsortvalue.hint.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                  Sort Value by Count
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
                  %li
                    %a.sort-unique{:href => "#", :tabindex => "-1", :id => "count"} Count
                  %li
                    %a.sort-unique{:href => "#", :tabindex => "-1", :id => "name"} Name
              %br/
              #column_values_filter
              #grid_unique_values{style: "height: show_when_column_is_selected_300px; overflow-y: scroll; "}
              .form-group{style: "margin: 10px 20px 0px 20px;"}


- if @sudo[1]
  .modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4 Select from the list and replace with one value
        #outer_div{style: "margin-top: 20p; padding: 20px;"}
          %input#search_box_modal{:style => "width: 95px", :type => "text",:placeholder => "search..."}
          #sorting-value.dropdown.pull-right{style:"display:block;"}
            %a#dropdownsortvalue_modal.hint.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Sort Value by Count
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
              %li
                %a.sort-unique-modal{:href => "#", :tabindex => "-1", :id => "count"} Count
              %li
                %a.sort-unique-modal{:href => "#", :tabindex => "-1", :id => "name"} Name
          %br
          %br
          #unique_value_formodal{style: "height: 200px; overflow-y: scroll;"}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary#replace-values{:type => "button"} Replace Value
