= include_gon
-if @data_stores.count > 0
  %table.table.table-condensed
    %thead
      %tr
        %th.col-sm-8 Name
        %th Kind
        %th Date Modified
        %th
    %tbody
      - @data_stores.each do |data_store|
        %tr
          %td.borderless
            = link_to data_store.name, _account_project_data_store_path(data_store.account, data_store.core_project, data_store), class: "u black", style: (data_store.marked_to_be_deleted == "true" ? "text-decoration: line-through; color: gray;" : nil)
          %td.borderless
            .hint Spreadsheet
          %td.borderless
            %span.hint= time_ago_in_words(data_store.updated_at) + " ago"
          -if @sudo[1] and data_store.marked_to_be_deleted != "true"
            %td.borderless.pull-right= icon_del(account_core_project_data_store_path(data_store.account, data_store.core_project, data_store))
          - else
            %td.borderless
  .text-center= paginate @data_stores
-else
  %h4 No Record Found