%script{:src => "/assets/core_projects.js"}
%script{:src => "https://platform.twitter.com/widgets.js", :type => "text/javascript"}
- content_for :title do
  Project Profile · #{@core_project.name}
- disabled = true
-if @sudo[0]
  - disabled = false

.previous-sheet
  %h3=h show_project_name(@core_project)
  .panel.panel-default.sheet.sub
    .panel-body
      .row
        .col-sm-2= render partial: "core/projects/sidebar"
        .col-sm-7
          .panel.panel-default
            .panel-heading
              .panel-title What other's see?
            .panel-body
              = simple_form_for(@core_project, url: account_core_project_path(@core_project.account, @core_project), html: {class: "form-inline", method: "put"}) do |f|
                = f.input :name, required: true, disabled: true
                %br
                %br
                -if !disabled
                  = f.button :submit, "Save"

          - if true
            .panel.panel-default
              .panel-heading
                .panel-title API Tokens
              .panel-body
                %p.gray If you are planning to query your datasets directly from the front-end using PykQuery.js, then create a token and use it when calling the API.
                %br
                -if @core_tokens.count > 0
                  %table.table.table-condensed
                    %thead
                      %tr
                        %th Name
                        %th API Token
                        %th Created by
                        %th
                    %tbody
                      -@core_tokens.each do |token|
                        %tr
                          -created_by = token.account.username
                          %td= token.name
                          -if created_by == current_account.username
                            %td= token.api_token
                          -else
                            %td= "XXX Hidden XXX"
                          %td= created_by
                          -if @sudo[0] or current_account.username == created_by
                            %td= icon_del(account_core_project_token_path(token.account_id,token.core_project_id, token))
                %br
                .col-sm-6
                  = simple_form_for(@core_token,url: account_core_project_tokens_path(@core_project.account, @core_project),html: {method: "post"}) do |f|
                    = f.input :name, required: true, hint: "E.g. GitHub"
                    = f.input :account_id, as: :hidden, input_html: {value: current_account.id}
                    = f.input :core_project_id, as: :hidden,  input_html: {value: @core_project.id}
                    = f.button :submit, "Generate New Token"
          -if !disabled
            .panel.panel-danger
              .panel-heading
                .panel-title Danger Zone
              .panel-body
                %p Warning: This is not a reversible or repairable action.
                %br
                = link_to "Delete this project", [@core_project.account, @core_project], :method => :delete, data: { confirm: 'Are you sure you want to delete?' }, class: "btn btn-danger", style: "color: white; font-size: 1em;"