- content_for :title do
  Collaborators · #{@core_project.name}

.previous-sheet
  %h3= show_project_name(@core_project).html_safe
  .panel.panel-default.sheet.sub
    .panel-body
      .row
        .col-sm-2= render partial: "core/projects/sidebar"
        .col-sm-10
          - if @sudo[1]
            .panel.panel-default
              .panel-heading
                .panel-title Who's in the team?
              .panel-body
                - if 1 == 1
                  %br
                  %div
                    = form_for @permission, url: account_core_permissions_path(@account), method: :post do |f|
                      = f.hidden_field :role, value: Constants::ROLE_C
                      = f.hidden_field :core_project_id, value: @core_project.id
                      = f.hidden_field :status, value: "Invited"
                      - if @permission.errors.any?
                        #error_explanation
                          %h2= "#{pluralize(@permission.errors.count, "error")} prohibited this permission from being saved:"
                          %ul
                            - @permission.errors.full_messages.each do |msg|
                              %li= msg
                      %table.table.table-condensed.table-striped
                        %thead
                          %tr
                            %th User
                            %th Role
                            %th 
                        %tbody
                          -if @sudo[0]
                            %tr
                              %td= f.text_field :email, placeholder: "Email ID"
                              %td Collaborator
                              %td= f.submit 'Invite', class: "btn btn-sm btn-primary"
                          - if @permissions.first.present?
                            - @permissions.each do |permission|
                              %tr
                                %td
                                  - if permission.account_id.present?
                                    = link_to permission.account.username, _account_path(permission.account)
                                  - else
                                    = permission.email
                                %td= "Is #{permission.role}"
                                - if ((@can_remove_owner and permission.role == Constants::ROLE_O) or permission.role == Constants::ROLE_C) and @sudo[0]
                                  %td= icon_del(account_core_permission_path(@account, permission))
                  - if @permissions.count == 1
                    = image_tag "members.png"