%script{:src => "/assets/core_projects.js"}
- content_for :title do
  New Project · #{current_account.username}

.row
  .col-sm-6.float_to_center
    %h2.thin Create a new project
    %p.thin Organise data files and visualisations into projects.
    .panel.panel-default
      .panel-body
        %br
        = simple_form_for(@core_project, url: account_core_projects_path(@account, @core_project), method: :post, html: {class: "form-inline"}) do |f|
          %table
            %tr
              %td= f.input :account_id, collection: @my_accounts.map.each{|z| [z.organisation.username, z.organisation.id, {:is_enterprise_organisation =>z.organisation.is_enterprise_organisation}]}, label: "Account", include_blank: false
              %td{style: "vertical-align: bottom;"} &nbsp;&nbsp; / &nbsp;&nbsp;
              %td= f.input :name, label: "Project name", input_html: {size: 40},required: true
          .gray Great repository names are short and memorable. 
          .clearfix
          = f.input :license, collection: ["Not specified", "Creative Commons Attribution", "Creative Commons Attribution Share-Alike", "Creative Commons Non-Commercial (Any)", "Creative Commons CCZero", "Other (Not Open)", "GNU Free Documentation License", "Open Data Commons Attribution License", "UK Open Government License (OGL)", "Other (Public Domain)", "Open Data Commons Public Domain Dedication and License (PDDL)", "Open Data Commons Open Database License (ODbL)"], :include_blank => false, selected: "Creative Commons Non-Commercial (Any)", required: true
          %br
          %br
          = f.button :submit, "Add new project", id: "new_project_submit"