- content_for :title do
  Admin · Dictionaries

.row
  .col-sm-2= render partial: "core/admins/sidebar"
  .col-sm-10
    .panel.panel-default
      .panel-body
        -if @data_store_dictionaries_to_approve.present? && @data_store_dictionaries_to_approve.count > 0
          %table.table.table-condensed
            %thead
              %th DataStore Slug
              %th DataStore Project
              %th DataStore Account
              %th
            %tbody
              - @data_store_dictionaries_to_approve.each do |data_store|
                %tr
                  -if data_store.core_project.is_public
                    %td=link_to "#{data_store.slug}",_account_project_data_store_path(data_store.account, data_store.core_project, data_store)
                    %td=link_to "#{data_store.core_project.slug}", _account_project_path(data_store.core_project.account, data_store.core_project)
                    %td=link_to "#{data_store.account.slug}", _account_path(data_store.account)
                  -else
                    %td
                      = icon_lock
                      =data_store.slug
                    %td
                      =data_store.core_project.slug
                    %td
                      =data_store.account.slug
                  -is_verified_dict = data_store.is_verified_dictionary ? "Unverify" : "Verify"
                  %td= link_to "#{is_verified_dict}",  verify_or_unverify_dictionaries_core_admin_path(data_store.id)
        -else
          %h2
            No Pending Dictionary Approvals