- content_for :title do
  Admin · Organisations
.row
  .col-sm-2= render partial: "core/admins/sidebar"
  .col-sm-10
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th Organisation
          %th 
      %tbody
        - @users.each do |u|
          %tr
            %td= link_to "#{u.username} <span class='hint'>(#{u.email})</span>".html_safe, _account_path(u)
            %td
              - if u.is_enterprise_organisation == "true"
                .label.label-primary Enterprise Account
              - else 
                = link_to "Make Enterprise", make_enterprise_account_core_organisation_path(current_account, organisation_id: u), class: "btn btn-sm btn-orange"
                
.text-center= paginate @users
