.previous-sheet
  %h3
    = show_project_name(@core_project).html_safe
    %span.gray= " / "
    = link_to "Aggregations", account_project_impl_aggregations_path(@core_project.account, @core_project), class: "thin"
  .panel.panel-default.sheet.sub
    .panel-body
      .row
        .col-sm-9
          %h4 
            Aggregation: 
            = @impl_aggregation.name
          %p.gray.pull-left Aggregate data with various provider ids
          .pull-right= link_to "Datacasts",datacasts_account_project_impl_aggregation_path(@account, @core_project, @impl_aggregation), class: "btn btn-orange"
          .clearfix
          %hr
          / .col-sm-6
          /Here The Providers which are present, but not added should come
          / .col-sm-6
          = simple_form_for(@impl_data_set, url: account_project_impl_aggregation_providers_path(@core_project.account, @core_project, @impl_aggregation), method: "post") do |f|
            = f.error_notification
            .form-inputs
              %table
                %tr
                  %td
                    = f.input :impl_aggregation_id, input_html: {value: @impl_aggregation.id}, as: :hidden
                    = f.input :provider_id
                  %td
                    &nbsp; &nbsp;
                  %td= f.button :submit, "Add"
          - unless @impl_data_sets.blank?
            .pull-right
              = link_to "<span class='glyphicon glyphicon-refresh'>all</span>".html_safe, restart_all_aggregation_workers_account_project_impl_aggregation_path(@account, @core_project, @impl_aggregation)
          .clearfix
          %table.table.table-condensed
            %thead
              %tr
                %th Provider
                %th Status
                %th
                %th
            %tbody
              - @impl_data_sets.each do |impl_data_set|
                %tr
                  %td= impl_data_set.data_sets_id
                  %td
                    %strong= impl_data_set.status
                    - if impl_data_set.error_messages.present?
                      .hint= impl_data_set.error_messages
                  %td= link_to "<span class='glyphicon glyphicon-refresh'></span>".html_safe, restart_worker_account_project_impl_aggregation_provider_path(@account, @core_project, @impl_aggregation, impl_data_set)
                  %td= icon_del(account_project_impl_aggregation_provider_path(@core_project.account, @core_project, @impl_aggregation, impl_data_set))
        .col-sm-3
          .well
            %h5 Edit Aggregator
            %hr
            = simple_form_for(@impl_aggregation, url: account_project_impl_aggregation_path(@core_project.account, @core_project, @impl_aggregation), method: "put") do |f|
              = f.error_notification
              .form-inputs
                = f.input :genre,collection: [["Provider","provider"],["Data Provider", "data_provider"],["Country", "country"]], selected: @impl_aggregation.genre ,hint: "Provider, Data Provider, Country"
                = f.input :name
                = f.input :wikiname
              .form-actions
                = f.button :submit, "Save"
          