= javascript_include_tag "reports.js"
= include_gon
= javascript_include_tag "reports.js"

.previous-sheet
  %h3= show_project_name(@core_project).html_safe
  .panel.panel-default.sheet.sub
    .panel-body
      = render partial: "form"