- content_for :title do
  Edit Data Cast · #{@core_project.name}
= javascript_include_tag "datacast"
= include_gon
.previous-sheet
  %h3
    = show_project_name(@core_project).html_safe
    %span.thin= " / "
    = link_to "Datacast", account_core_project_datacasts_path(@core_project.account, @core_project)
  .panel.panel-default.sheet.sub
    .panel-body
      %h4 Edit Datacast
      %hr
      - url = account_core_project_datacast_path(@core_project.account,@core_project, @core_datacast)
      %div
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "output", "data-toggle" => "tab", :href => "#output", :role => "tab"} Output
          - if @core_datacast.column_properties.present?
            %li{:role => "presentation"}
              %a{"aria-controls" => "column_meta", "data-toggle" => "tab", :href => "#column_meta", :role => "tab"} Column Meta
        .tab-content
          #output.tab-pane.active{:role => "tabpanel"}
            = render partial: "form", locals: {url: url, method: :put,core_db_connection_id: @core_datacast.core_db_connection_id}
            - unless @core_datacast.core_datacast_output.output.blank?
              #preview_output_grid{style: "width:100%;height:480px;overflow:scroll;display:#{["csv","2darray"].include?(@core_datacast.format) ? "block" : none}"}
              %textarea#datacast_display{:readonly => "",style: "width:100%;height:480px;overflow:scroll;display:#{["csv","2darray"].include?(@core_datacast.format) ? "none" : block}"}
              %textarea.form-control#preview_output_error{rows: 20, style: "overflow-y:scroll;display:none"}
            - else
              #preview_output_grid{style: "width:100%;height:480px;overflow:scroll;display:none"}
              %textarea#datacast_display{:readonly => "",style: "width:100%;height:480px;overflow:scroll;display:none"}
              %textarea.form-control#preview_output_error{rows: 20, style: "overflow-y:scroll;display:block"}
                = "The query ran successfully, but it returned 0 rows"


          - if @core_datacast.column_properties.present?
            #column_meta.tab-pane{:role => "tabpanel"}
              %table.table.table-condensed
                %tr
                  %th Column Name
                  %th Column Datatype
                  %th Data Distribution
                  %th Dimension/Metric
                - @core_datacast.column_properties.each do |key, value|
                  %tr
                    %td= key
                    %td= value["data_type"]
                    %td.hint
                      - data_dist = value["data_distribution"]
                      - unless data_dist.nil?
                        - data_dist.each do |key, value|
                          = "#{key}:#{value}"
                          %br

                    %td= value["d_or_m"] == "d" ? "Dimension" : "Metric"