=include_gon
.previous-sheet
  %h3
    =h show_project_name(@core_project)
    = " / "
    = link_to "Datacasts", account_core_project_datacasts_path(@core_project.account, @core_project), class: "thin gray"
  .panel.panel-default.sheet.sub
    .panel-body
      %h4 Upload data
      %hr
      .row#hide_this_once_we_add_empty_spreadsheet
        .col-sm-3
          %a{href: "#", class: "black"}
            .well.s#upload-step
              %br
              %h2.text-center.thin.black= "<b class='mega-octicon octicon-cloud-upload'></b>".html_safe
              %p.text-center
                %span.black
                  %strong Upload from desktop
                %br
                (File with size less than 15 MB)
              %br
        .col-sm-3
          %a{href: "#", class: "black"}
            .well.s#upload_through_ftp
              %br
              %h2.text-center.thin.black= "<b class='mega-octicon octicon-link'></b>".html_safe
              %p.text-center
                %span.black
                  %strong Upload from WEB Address (URL)
                %br
                (File with size more than 15 MB)
              %br
      .row#data-menu{:style => "display:none"}
        .col-sm-12#upload-box
          = simple_form_for(@core_datacast, url: upload_account_core_project_datacasts_path(@core_project.account, @core_project), method: "post", :html => {:multipart => true}) do |f|
            .col-sm-4
              = f.input :core_db_connection_id,collection: @core_db_connections, id: "core_db_connection_id", label: "Database", include_blank: false

              %label= "Table name: #{@core_datacast.table_name}"
              = f.input :table_name, as: :hidden, input_html: {value: @core_datacast.table_name}
              = f.file_field :file,required: true,class: "form-control"
            .clearfix
            %p
              %strong File types:
              %span.gray Comma Separated Files (CSV), Tab Separated Files (TSV), Pipe Separated Files (PSV), Semicolon Separated Files (SSV)
            %br
            %input{:checked => true, :name => "first_row_header", :type => "checkbox"}
              First Row Header
              %br
            .row#row-header-checkbox
              %br
              = f.input :core_project_id, as: :hidden, input_html: {value: @core_project.id}
              = f.submit "Upload CSV file", class: "btn btn-lg"
            .spinner{:style => "display:none"}
              = image_tag "ajax-loader.gif"

      .row#upload_through_ftp-box{style: 'display:none'}
        .col-sm-12
          = simple_form_for(@core_datacast_pull, url: account_core_project_datacast_pulls_path(@core_project.account, @core_project), method: "post") do |f|
            .col-sm-4
              = f.input :core_db_connection_id,collection: @core_db_connections, id: "core_db_connection_id", label: "Database", include_blank: false
              %label= "Table name: #{@core_datacast.table_name}"
              = f.input :table_name, as: :hidden, input_html: {value: @core_datacast_pull.table_name}
              = f.input :file_url,as: :string ,required: true, label: "File URL", input_html: {style: "height: 30px;"}
            .clearfix

            %p
              %strong File types:
              %span.gray Comma Separated Files (CSV), Tab Separated Files (TSV), Pipe Separated Files (PSV), Semicolon Separated Files (SSV)
            %br
            %input{:checked => true, :name => "first_row_header", :type => "checkbox"}
              First Row Header
              %br
            .row#row-header-checkbox
              %br
              = f.input :core_project_id, as: :hidden,input_html: {value: @core_project.id}
              = f.submit "Upload CSV file", class: "btn btn-lg"
            .spinner{:style => "display:none"}
              = image_tag "ajax-loader.gif"
      %br
      %br
      - if @validator.present? and @validator
        = render "csv_lint_error_messages"
      - else
        %p{style: "background: green; color: white; font-weight: 400; width: 360px;"} &nbsp; Help: Which kind of data is Europeana best built for?
        = image_tag "help-vertical-data.png"

%script{:src => "/assets/datacast.js"}