.previous-sheet
  %h3= show_project_name(@core_project).html_safe
  .panel.panel-default.sheet.sub
    .panel-body
      %h4 
        DataCasts
        .pull-right
        -if @sudo[1]
          .pull-right
            - if @sudo[0] or @sudo[1]
              = link_to "DB Connections", account_core_project_db_connections_path(@account,@core_project), style: "font-size: 0.6em; font-weight: normal; border-bottom: 1px dotted gray;", class: "black"
              &nbsp; &nbsp;
              = link_to "Upload Data".html_safe, file_account_core_project_datacasts_path(@core_project.account, @core_project), style: "font-size: 0.6em; font-weight: normal; border-bottom: 1px dotted gray;", class: "black"
              &nbsp; &nbsp;
              = link_to "Create new Datacast", new_account_core_project_datacast_path(@account, @core_project), id: "dLabel", class: "btn btn-orange btn-sm"
      %p.gray Share your data! Convert SQL queries into sharable, real-time APIs.
      %hr{style: "margin-bottom: 5px; margin-top: 2px; border-top-color: lightgray;"}
      %table.table.table-condensed
        %thead
          %tr
            %th
            %th Name
            %th Last Run
            %th Size
            %th Last Modified
            %th Kind
            %th
            %th
        %tbody
          - @core_datacasts.each do |core_datacast|
            %tr
              %td= signal_datacast_status(core_datacast)
              %td
                %span.gray= core_datacast.core_db_connection.db_name
                = " / "
                %b= core_datacast.name
                .hint= link_to truncate("#{REST_API_ENDPOINT}datacast/#{core_datacast.identifier}", length: 60, omission: "..."),  "#{REST_API_ENDPOINT}datacast/#{core_datacast.identifier}", target: "_blank"
                - if core_datacast.error.present?
                  .hint{style: "color: red;"}= core_datacast.error.html_safe
        
              %td.hint
                - if core_datacast.last_run_at.present?
                  = time_ago_in_words(core_datacast.last_run_at)
                - if core_datacast.count_of_queries.present?
                  %br
                  = core_datacast.count_of_queries
                  runs
              %td.hint
                = number_to_human_size(core_datacast.size.to_f.ceil)
                - if core_datacast.number_of_rows.present? and core_datacast.number_of_columns.present?
                  %br
                  = core_datacast.number_of_rows
                  = ":"
                  = core_datacast.number_of_columns
              %td.hint
                - if core_datacast.last_data_changed_at.present?
                  = time_ago_in_words(core_datacast.last_data_changed_at)
                - if core_datacast.average_execution_time.present?
                  %br
                  = core_datacast.average_execution_time.to_f.ceil
                  ms (avg. time)
              %td= core_datacast.format
              %td= link_to 'Edit', edit_account_core_project_datacast_path(@account, @core_project,  core_datacast)
              %td= link_to icon_del(account_core_project_datacast_path(@account, @core_project, core_datacast))
    .row
      .col-sm-12
        -if @pending_datacast_pulls.present? and current_account.present? and @sudo[1]
          %hr
          = render partial: "core/datacast_pulls/index", locals: {pending_datacast_pulls: @pending_datacast_pulls}  