- content_for :title do
  Data Cast · #{@core_project.name}
= javascript_include_tag "datacast"
.previous-sheet
  %h3
    = show_project_name(@core_project).html_safe
    %span.thin= " / "
    = link_to "Datacasts", account_core_project_datacasts_path(@core_project.account, @core_project), class: "thin gray"
    %span.thin= " / "
    New DataCast
  .panel.panel-default.sheet.sub
    .panel-body
      - url = account_core_project_datacasts_path(@core_project.account,@core_project)
      .col-sm-12
        %br
        = render partial: "form", locals: {url: url, method: :post,core_db_connection_id: params[:db]}
        %br
      .col-sm-12
        #preview_output_grid{style: "width:100%;height:480px;overflow:scroll;"}
        %textarea.form-control#preview_output_error{rows: 20, style: "overflow-y:scroll", readonly: true}
        %textarea#datacast_display{:readonly => "",style: "width:100%;height:480px;overflow:scroll;display:none"}
        %center
          %img{src: "/images/ajax-loader.gif", id: "datacast_preview_loader", style: "display:none"}