- content_for :title do
  Teams · #{@account.username}

.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-10
    .panel.panel-default
      .panel-heading= render partial: "core/organisations/topbar"
      .panel-body
        %br
        - if !@sudo[0]
          %table.table.table-condensed.table-striped
            %tbody
              - if @core_teams.first.present?
                - @core_teams.each do |core_team|
                  %tr
                    %td= link_to core_team.to_s, core_organisation_team_path(@account, core_team)
        - else
          = form_for @core_team, url: core_organisation_teams_path(@account), method: :post do |f|
            = f.hidden_field :organisation_id, value: @account.id
            - if @core_team.errors.any?
              #error_explanation
                %h2= "#{pluralize(@core_team.errors.count, "error")} prohibited this permission from being saved:"
                %ul
                  - @core_team.errors.full_messages.each do |msg|
                    %li= msg
            %table.table.table-condensed.table-striped
              %tbody
                %tr
                  %td= f.text_field :name, placeholder: "Team Name"
                  %td= f.select :role, [[Constants::ROLE_C, Constants::ROLE_C], [Constants::ROLE_O, Constants::ROLE_O]]
                  %td= f.submit 'Add', class: "btn btn-sm btn-primary"
                - if @core_teams.first.present?
                  - @core_teams.each do |core_team|
                    %tr
                      %td= link_to core_team.to_s, core_organisation_team_path(@account, core_team)
                      - if !core_team.is_owner_team and 1 == 1
                        %td= icon_del(core_organisation_team_path(@account, core_team))