%script{:src => "/assets/configuration_editor.js"}

- content_for :title do
  #{@configuration_editor.name} · #{@core_project.name}

.previous-sheet
  %h3
    = show_project_name(@core_project).html_safe
    %span.thin= " / "
    = link_to "Configuration Editors", _account_project_config_editors_path(@core_project.account, @core_project)
  .panel.panel-default.sheet.sub
    .panel-body
      %h4= @configuration_editor.name
      %hr
      #container
      #data1
        = form_for(@configuration_editor, url: account_core_project_configuration_editor_path(@core_project.account, @core_project, @configuration_editor.id), :html => { role: "form", class: "form-horizontal" }) do |f|
          = f.hidden_field :core_project_id, value: @core_project.id
          = f.hidden_field :account_id, value: @account.id
          = f.hidden_field :content, value: "", id: "content", hidden: true
          = f.hidden_field :name
          %div#all-form-elements.col-sm-12    
            .form-horizontal#display-form-elements
          = f.submit id: "pressbutton", class: "btn btn-primary", value: "Save"

-content = @configuration_editor.content.to_json
:javascript
  $(document).ready (function (){
    window.data = #{content}
    var k = new PykAce.showPage ({
    selector: "#container",
    });
    k.showElements();
  });