- if @core_custom_dashboards.first.blank?
  .text-center= image_tag "help_custom_dashboard.png"
- else
  %table.table.table-condensed
    %thead
      %tr
        %th.col-sm-8 Name
        %th Status
        %th
        %th Date Modified
        %th
    %tbody
      - @core_custom_dashboards.each do |dash|
        %tr
          %td.borderless
            %u.black= dash.name
            .hint= dash.git_url
          %td.borderless
            .hint= dash.cdn_status
            - if dash.cdn_published_error.present?
              .hint= dash.cdn_published_error
          %td.borderless
            - publish_label = "Publish"
            - if dash.cdn_published_url.present?
              = link_to publish, "#", "data-toggle"=>"modal", "data-target"=>"#pubslishedModal", "s3-url" => dash.cdn_published_url, class: "s3-publish-details"
              - publish_label = "Re-Publish"
            = link_to publish_label, pull_account_core_project_custom_dashboard_path(@core_project.account, @core_project, dash), class: "hint u"
          %td.borderless
            %span.hint= time_ago_in_words(dash.updated_at) + " ago"
          %td.pull-right.borderless= icon_del(account_core_project_custom_dashboard_path(@core_project.account, @core_project, dash))
  - if controller_name != "projects"
    .text-center= paginate @core_custom_dashboards