.previous-sheet
  %h3
    = show_project_name(@core_project).html_safe
    %span.gray= " / "
    = link_to "Reports", account_project_impl_aggregations_path(@core_project.account, @core_project), class: "thin"
  .panel.panel-default.sheet.sub
    .panel-body
      .row
        .col-sm-9
          %h4 
            Country:
            = @impl_aggregation.name

        .col-sm-3
          .well
            %h5 Edit Country
            %hr
            = render partial: "impl/aggregations/form"