.previous-sheet
  %h3
    =h show_project_name(@core_project)
    %span.gray= " / "
    = link_to "Reports", account_project_impl_aggregations_path(@core_project.account, @core_project), class: "thin"
  .panel.panel-default.sheet.sub
    .panel-body
      .row
        .col-sm-9
          - if @impl_aggregation.genre == "country"
            = render partial: "countries", locals: {impl_aggregation: @impl_aggregation, account: @account, core_project: @core_project, impl_providers: @impl_providers, impl_data_providers: @impl_data_providers, core_datacasts: @core_datacasts}
          - elsif @impl_aggregation.genre == "provider"
            = render partial: "providers", locals: {impl_aggregation: @impl_aggregation, account: @account, core_project: @core_project, impl_countries: @impl_countries, impl_data_providers: @impl_data_providers, core_datacasts: @core_datacasts}
          -else
            = render partial: "data_providers", locals: { impl_aggregation: @impl_aggregation, impl_countries: @impl_countries, account: @account, core_project: @core_project, impl_providers: @impl_providers, impl_data_sets: @impl_data_sets, core_datacast: @core_datacast }

        .col-sm-3
          .well
            %h5="Edit #{@impl_aggregation.genre.titleize}"
            %hr
            = render partial: "form", locals: {impl_aggregation: @impl_aggregation, core_project: @core_project}