- content_for :title do
  Forgot your password? · Europeana

.row
  .col-sm-4.float_to_center
    %br
    %br
    .panel.panel-default
      .panel-heading 
        .panel-title Forgot your password?
      .panel-body
        .col-sm-10
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form-horizontal", method: :post}) do |f|
            = f.error_notification
            = f.input :username, autofocus: true, required: true
            = f.button :submit, "Send me reset password instructions"
    = render "accounts/shared/links"