- if action_name == "new"
  - url = account_core_project_articles_path(@account, @core_project)
  - method = "post"
-elsif action_name == "edit"
  - url = account_core_project_article_path(@account, @core_project, @core_article)
  - method = "put,"

= simple_form_for(@core_article, url: url, method: method) do |f|
  = f.error_notification

  .form-inputs
    = f.input :core_project_id
    = f.input :name
    = f.input :created_by
    = f.input :updated_by
    = f.input :status

  .form-actions
    = f.button :submit
