%p#notice= notice

%p
  %b Core project:
  = @core_article.core_project_id
%p
  %b Name:
  = @core_article.name
%p
  %b Status:
  = @core_article.status

= link_to 'Edit', account_core_project_article_path(@account, @core_project, @core_article)
\|
= link_to 'Back', account_core_project_articles_path(@account, @core_project)
