- if account_signed_in?
  %nav.navbar.navbar-default{style: "background: transparent; margin-bottom: 0px; border-bottom: 0px;"}
    .container
      .navbar-header.page-scroll
        = link_to image_tag("https://s3-ap-southeast-1.amazonaws.com/ap-southeast-1.datahub.pykih/assets/images/rumi-logo.png", style: "margin-top: 10px;"), root_url
      %ul.nav.navbar-nav.navbar-right
        - if @enable_express_tour
          %li= link_to "<span class='octicon octicon-light-bulb'></span> Hint".html_safe, "javascript:void(0)", onclick: "javascript:triggerPykHelp();", style: "color: gray; font-size: 11px;"
        - if current_account.is_admin?
          %li= link_to "<b class='glyphicon glyphicon-lock'></b>".html_safe, core_admins_path, style: "color: black;", "data-toggle"=>"tooltip", "data-placement"=>"bottom", title: "Pykih Admin Area"
        %li= link_to image_tag(account_image(current_account, 25), style: "display:inline"), _account_path(current_account, "projects"), "data-toggle"=>"tooltip", "data-placement"=>"bottom", title: "My Profile"
        %li= link_to "<b class='glyphicon glyphicon-cog'></b>".html_safe, _edit_account_path(current_account), style: "color: black;", "data-intro" => "Manage your profile & org. accounts from here.", "data-position" => "left"
        %li= link_to "<b class='glyphicon glyphicon-off'></b>".html_safe, destroy_account_session_path, style: "color: black;", "data-toggle"=>"tooltip", "data-placement"=>"bottom", title: "Sign Out"
- else
  - if controller_name == "static_pages" and action_name == "index"
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .row-fluid
          .col-sm-12
            .navbar-header.page-scroll
              = link_to image_tag("https://s3-ap-southeast-1.amazonaws.com/charts.pykih.com/imgs/pykih_tile_28.png", style: "margin-top: 10px;"), "http://pykih.com", target: "_blank"
              %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button", style: "border: none;"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li.cstm-link=link_to "PYKIH SERVICES", "https://www.pykih.com", style: "letter-spacing: 0.5px; font-size:0.8em;"
                %li.cstm-link=link_to "CHARTSTORE.IO", "https://www.chartstore.io", style: "letter-spacing: 0.5px; font-weight:light; font-size:0.8em;"
                %li.active.cstm-link=link_to "RUMI.IO", root_url, style: "letter-spacing: 0.5px; font-weight:light; font-size:0.8em;"
                %li.cstm-link= link_to "ABOUT", "https://www.pykih.com/about", style: "letter-spacing: 0.5px; font-size:0.8em;"
                %li.cstm-link= link_to "BLOG", "http://blog.pykih.com/", style: "letter-spacing: 0.5px; font-size:0.8em;"
  %nav.navbar.navbar-default.cstm-navbar{:role => "navigation", style:  (controller_name == "static_pages" and action_name == "index") ? "margin-top: 50px;" : nil}
    .container-fluid
      .row-fluid
        .col-sm-12
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-2", "data-toggle" => "collapse", :type => "button", :style => "border:0; margin-right:25px;"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %h1{style: "margin-left:10px; margin-top:10px; font-size: 24px;"}= link_to image_tag("rumi-logo-big.png"), root_url
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-2.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right{style: "font-size: 13px; a{color: gray;}"}
              %li= link_to "Overview", root_url,class: action_name=='index' ? "cstm-active" :  ""
              - if Rails.env.development?
                -if  1 == 2
                  %li= link_to "Tour", tour_path,class: action_name=='tour' ? "cstm-active" :  ""
                  %li= link_to "Enterprise", enterprise_path,class: action_name=='enterprise' ? "cstm-active" :  ""
                %li= link_to "Pricing", pricing_path,class: action_name=='pricing' ? "cstm-active" :  ""
                %li= link_to "Sign Up", new_account_registration_path,class: controller_name=='registrations' ? "cstm-active" :  ""
        

/ :javascript
/   $(document).ready(function(){
/     $("select.#search-full-text").val("#{@selected_value}");
/   }); 
