!!!
%html
  %head
    %title= (yield(:title).empty? ? "Europeana" : yield(:title))
    = include_gon
    :javascript
      var rumi_api_endpoint = "#{REST_API_ENDPOINT}";
    = stylesheet_link_tag 'application', media: 'all'
    - if controller_name == "reports" and action_name == 'show'
      = stylesheet_link_tag "europeana"
    = javascript_include_tag 'application'
    = javascript_include_tag 'accounts'
    = csrf_meta_tags
    :css
      #loader{position: fixed; top: 0; bottom: 0; right: 0; left: 0; width: 100%; height: 100%; background: white; z-index: 99999; }
      #loader .centered{ padding-top: 200px; margin-left: auto; margin-right: auto; position: relative; }
      #loader .centered h1{ text-align: center; text-transform: uppercase; color: black; text-shadow: 0 1px #fff; font-weight: 100; letter-spacing: 3px; }
  %body{id: "scopejs_#{controller_name}_#{action_name}"}

    = render partial: "layouts/header"
    .container= yield
    .container
      .row
        - config = {}
        - if notice.present?
          - config = {text: notice, notify: "success"}
          /.alert.alert-success= notice
        - if alert.present?
          - config = {text: alert, notify: "error"}
          /.alert.alert-danger= alert
    = render partial: "layouts/validations_errors", locals: {config: config}