!!!
%html
  %head
    %title= (yield(:title).empty? ? "Europeana · Pykih" : yield(:title))
    :javascript
      var rumi_api_endpoint = "#{REST_API_ENDPOINT}";
      var data_store_action_name = "#{action_name}";
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:src => "/assets/vizs.js"}
    = csrf_meta_tags
    = include_gon
  %body{id: "scopejs_#{controller_name}_#{action_name}", style: "background: white;"}
    .container-fluid
      .row-fluid
        .col-sm-9{style: "margin-top: 10px;"}
          %table
            %tr
              %td= link_to "<<&nbsp; Back".html_safe, _account_project_path(@core_project.account, @core_project), class: "btn btn-sm btn-default"
              %td &nbsp;&nbsp;
              %td
                %h4.m0p0
                  - if @parent.present?
                    = clone
                  = @data_store.name
          .row-fluid
            - config = {}
            - if notice.present?
              - config = {text: notice, notify: "success"}
              /.alert.alert-success= notice
            - if alert.present?
              - config = {text: alert, notify: "error"}
              /.alert.alert-danger= alert
        .col-sm-3
          %br
          = link_to "Data View", _account_project_data_store_path(@data_store.account, @data_store.core_project, @data_store), class: "btn btn-default btn-sm"
          = link_to "<span class='octicon octicon-broadcast'></span> Datacasts".html_safe, _visualizations_account_project_data_store_path(@account, @data_store.core_project, @data_store), class: "btn btn-orange btn-sm active"
    = yield
    = render partial: "layouts/validations_errors", locals: {config: config}