.dashboard
  - content_for :title do
    Dashboard · #{current_account.username}
  - if @core_projects.first.blank?
    .row
      .col-sm-12
        %br
        %br
        .text-center= link_to image_tag("first-login.png", "data-intro" => "Click on the image to start with your first project! Woohoo!", "data-position" => "bottom"), _new_project_path
  - else
    .row
      .col-sm-1
        .well{"data-intro" => "Organise data and visualisations into projects. Click here to create projects!", "data-position" => "bottom"}
          %h1.p0m0.center= link_to "+", _new_project_path, style: "color: #304FFE;font-size: 51px;"
        %p.p0m0= link_to "New Project", _new_project_path, style: "font-size: 12px;"
      .col-sm-4
        - if @core_projects.first.present?
          %h4 My Projects
          %ul.list-group{"data-intro" => "Projects I am participating in.", "data-position" => "top"}
            - @core_projects.each do |p|
              %a{href: _account_project_path(p.account, p)}
                %li.list-group-item
                  %h5.m0p0
                    - if !p.is_public
                      = icon_lock
                    - if p.account_id != current_account.id
                      %span.thin.black= p.account.username + " / "
                    %span= p.name
                    %span.pull-right.arrow-style >
            = paginate @core_projects, :param_name => "page_projects"

      .col-sm-7
        - if @our_actions.first.blank?
          .hint No events have occured yet
        - else
          %h4 
            Catch up:
            %span.thin What happened while you were away? 
          %div{style: "margin-top: 2px;", "data-intro" => "Every action inside of Rumi related to any of the projects you participate in creates an event log. This helps you keep up-to-date with all that is happening.", "data-position" => "left"}= render partial: "core/session_actions/index", locals: {our_actions: @our_actions}