- content_for :title do
  Edit Profile · #{current_account.username}
.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-8#page
    .panel.panel-default
      .panel-body
        .col-sm-9
          = simple_form_for(@account, url: account_path(@account), html: {class: "form-horizontal", method: "put"}) do |f|
            = f.input :name, as: :string, hint: "Please use real names", autofocus: true
            = f.input :gravatar_email_id, as: :email, required: true, hint: "(Public Email ID)"
            = f.input :company, as: :string, hint: "Where do you work?"
            = f.input :location, as: :string, hint: "E.g. Mumbai, India"
            = f.input :bio, as: :text, input_html: { autocomplete: "off"}
            = f.input :url, as: :url, label: "Website", hint: "E.g. http://myblog.com"
            = f.button :submit, "Save"
  .col-sm-2
    %table.table.table-condensed
      %tr
        %td Username
        %td :
        %td= @account.username
    %p= image_tag account_image(@account, 80), class: "col-sm-12", style: "margin-bottom: 20px;"
    %p.hint Profile image is coming from Gravatar