- content_for :title do
  #{@account.username} · Rumi

.container
  .row
    .col-sm-3
      %br
      = image_tag account_image(@account, 150)
      %br
      %br
      - if @account.name.present?
        %h1.m0p0{style: "margin-bottom: 6px; font-size: 1.4em; font-weight: 800;"}= @account.name
      - else
        %h1.m0p0{style: "margin-bottom: 6px; font-size: 1.4em; font-weight: 800;"}= @account.username
      %h3.m0p0.gray{style: "font-size: 1.1em;"}= "@#{@account.username}"
      - if @account.bio.present?
        %br
        %p= @account.bio
        %br
      - if @account.location.present? or @account.url.present? or @account.company.present?
        %table.table.table-condensed
          - if @account.location.present?
            %tr
              %td.glyphicon.glyphicon-map-marker
              %td= @account.location
          - if @account.url.present?
            %tr
              %td.glyphicon.glyphicon-link
              %td= link_to @account.url, @account.url, target: "_blank"
          - if @account.company.present?
            %tr
              %td.glyphicon.glyphicon-briefcase
              %td= @account.company
    .col-sm-7
      %br
      .panel.panel-default{"data-intro" => "Your public projects will be displayed here. You can create a project from your dashboard page", "data-position" => "bottom"}
        .panel-body
          - if @core_projects.nil?
            %p No public projects yet!  
          - else
            - @core_projects.each do |p|
              .project-listing
                %h4
                  = icon_lock unless p.is_public                    
                  = link_to p.account.username, _account_path(p.account, "projects"), class: "thin"
                  %span.thin= " / "
                  %b= link_to p.name, _account_project_path(p.account, p)
                %p.gray= truncate(p.description, length: 200, omission: '...')


    .col-sm-2
      %br
      - if @account.is_pseudo_account
        .alert.alert-warning
          Please note this is NOT an official account of 
          = @account.slug + ", "
          but is a pseudo account created by Rumi to distribute unmodified copies of open data available at 
          = @account.slug + "."
          The data belongs to 
          = @account.slug + "."